.controls {
	margin:				5px;
	border:				solid gray 0.5px;
	font-size:			10px;
	font-family:		'courier new'
}

.controls-general-button {
	font-family:        Arial, Helvetica, sans-serif;
	font-size:          12px;
	color:				gray;
	background:         white;
	border-style:       solid;
	border-width:       0.5px;
	border-color:       gray;
	padding:            4px 8px 3px 8px;
	min-width:          60px;    
}

.controls-button-container {
	padding:			4px;
}

.controls-button {
	width:				92px;
	height:				18px;
	font-size:			10px;
    margin-right:       0px;
}


